
#about-me {
   margin-top: 100px;
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   
   margin-left: 50px;
   margin-right: 50px;
}
.container-box {
    background-color: whitesmoke;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
    padding: 8px;
}
    #about-me .content {
        width: 60%;   
    }

    #about-me .sidebar {
        padding: 25px;
        height: 250px;
        width: 30%;
    }
    .sidebar-photo img{
        border-radius: 100px;
    }

    .qualifications {
        
    }