
#about-me {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   
   max-width: 1280px;

   margin: 100px auto;
   box-sizing: border-box;
}
.content {
    padding: 20px !important;
    line-height: 30px;
    align-items: flex-start !important;
    
}
.container-box {
    background-color: whitesmoke;
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
    margin-bottom: 45px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 6px;
}
    #about-me .content {
        width: 65%;   
        box-sizing: border-box;
    }

    #about-me .sidebar {
        padding: 25px;
        padding-top: 0;
        width: 30%;
    }
    .sidebar-photo img{
        border-radius: 100px;
    }

    .courses-list > li {
        max-width: 300px;
        margin-top: 30px;
    }
    .courses p > a, .qualifications a  {
        color: #862dc2;
    }

    .courses-list > p > a , .qualifications a {
        text-decoration: none;
        color: #000;
      
    }

/******* Media queries ********/
@media screen and (max-width: 770px){
    #about-me {
        flex-flow: column;
        justify-content: center;
    }
    #about-me .content {
        width: 100%;
    }
    #about-me .sidebar {
        width: 100%;
    }
}
@media screen and (max-width: 550px){
    #about-me {
        margin:0;
     
        margin-top: 70px;
    }
    #about-me .sidebar {
        margin: 0;
        padding: 0;
    }
    .container-box {
        margin-bottom: 15px;
    }

}