@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Palanquin:300');

body {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    color: #333;
    
}
html {
    scroll-behavior: smooth;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}
html *:focus {
    outline-color: #fd1d1dcb;
}


.-active {
    color: #000 !important;
}

.btn {
    display: inline-block;
    position: relative;
    background:linear-gradient(90deg,#b3ffab, #12fff7);
    border: 0;
    font-size: 20px;
    padding: 15px 24px;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1),
         0 -100px 0 transparent inset;

    transition: all 0.3s ease;
    box-sizing: border-box;
}
    .btn::after {
        content: "»";
        opacity: 0;
        position: absolute;
        top: 30%;
        right: 0.4em;
        transition: all 0.3s ease;
    }
    .btn:hover::after {
        right: 1em;
        opacity: 1;
    }
    .btn:hover {
        padding: 15px 34px 15px 14px;
        background:linear-gradient(90deg,#a2f599, #2deee7);
        box-shadow: 5px 5px 5px rgba(0,0,0,0.1),
        0 -100px 0 transparent inset;
        color: #111
    }   

.btn-dark {
    background: linear-gradient(90deg,#db1939, #630f9e);
    color: #fff;
}
    .btn-dark:hover {
        background: linear-gradient(90deg,#e70b30, #770fc2);
        color: #fff;
    }
.btn-orange {
    background:  linear-gradient(90deg,#833ab4dc, #fd1d1dcb, #fcb045e1);
    color: #fff;
}
    .btn-orange:hover {
        background:  linear-gradient(90deg,#9028d4dc, #fd1d1dcb, #e99219e1);
        color: #fff;
    }
.btn-see-code {
    background: linear-gradient(90deg,#333, #555);
    color: #fff;
    padding: 5px;
    display: inline-block;
    border: 0;
    font-size: 17px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1),
         0 -100px 0 transparent inset;

    transition: all 0.3s ease;
    box-sizing: border-box;
}
    .btn-see-code:hover {
        background: linear-gradient(90deg,#333, #555);
        color: rgb(226, 225, 225);
    }
/***** Scroll arrow down ******/
.down-arrow {
    color: inherit;
}
    .fa-angle-down {
        position: absolute;
        top:90%;
        left: 50%;
        right:50%;
        font-size: 2rem;
    }
    .fa-angle-down:hover{
        color: #20dfd8;
        font-size: 2.5rem;
    }


.title-main {
    position: relative;
    font-size: 2rem;
    z-index: 2;
}
    .title-main::after {
        content: "";
        width: 120%;
        height: 3px;
        background: linear-gradient(90deg,#b166e2dc, #fd1d1dcb, #fcb045e1);
        
        position: absolute;
        bottom: -10px;
        left:-10%;
        z-index: -1;
    }
    .title-main::before {
        content: "";
        width: 10%;
        height: 8px;
        background:  #fd1d1dcb;
        
        position: absolute;
        bottom: -13px;
        left:45%;
        z-index: 3;
    }

.title {
    position: relative;
    font-size: 2rem;
    z-index: 2;
}
    .title::after {
        content: "";
        position: absolute;
        top: 12px;
        left: 10px;
        z-index: -1;
    
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg,#b3ffab, #12fff7);
        
        transition: 200ms all linear;
    }
.sub-title {
    position: relative;
    font-size: 1.5rem;
    z-index: 2;
}
    .sub-title::after {
        content: "";
        position: absolute;
        top: 12px;
        left: 10px;
        z-index: -1;

        width: 60%;
        height: 100%;
        background:  linear-gradient(90deg,#b166e2dc, #fd1d1dcb, #fcb045e1);
        
        transition: 200ms all linear;
    }

.thin-text {
    font-family: 'Palanquin', sans-serif;
    line-height: 1;
    font-size: 21px;
}

.desc {
    font-size: 1.1rem;
    position: relative;
    margin-left: 15px;
    line-height: 1.5;
}
    .desc::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 4px;
        background: linear-gradient(#833ab4, #fd1d1d);
        top:0;
        left:-15px;

    }
.desc-sub {
    position: relative;
}
    .desc-sub::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 4px;
        background: linear-gradient(90deg,#b3ffab, #12fff7);
        top:0;
        left:-15px;

    }

.marked {
    background: #555;
    color: #fff;
    padding: 3px;
    border-radius: 10px;
}
    
.marked-blue {
    background: rgb(40, 44, 52);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}
.f-1 {
    font-size: 1.15rem !important;
}
.f-2 {
    font-size: 1.5rem !important;
}

.important-text {
    font-size: 1.1rem;
    margin-top:0;
}