.modal {
    background-color: #333;
    border: 0;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
    color: #fff;
    font-size: 1.2rem;
    transition: 0.3s all ease;
    z-index: 500;
    text-align: center;
    position: fixed;
    top: 65%;
    right: 0;

    padding: 20px;
    width: 300px;
    height: 100px;
    
    display: none;
}
.modal::before {
    content: "";
    position: absolute;
    top:0;
    left:0;
    background: linear-gradient(hsla(276, 51%, 47%, 0.863), #fd1d1dcb, #fcb045e1);
    width: 5px;
    border: 0;
    height: 100%;
}

.modal button {
    border: 0;
    padding: 10px 20px;
    color: #333;
    font-size: 1.05rem;
    cursor: pointer;
    
}