/************* Portfolio *************/
#portfolio {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    margin: 100px 100px;
    margin-top: 200px;

    box-sizing: border-box;
}
    .portfolio--page, .portfolio--page::before, .portfolio--page::after {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 10px;

        background-color: whitesmoke;
        padding-bottom: 200px;

        /* Styles to distinguish sheets from one another */
        box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
        border: 1px solid #bbb;
    }
 
    .portfolio--page::before,
    .portfolio--page::after {
        content: "";
        position: absolute;
        height: 95%;
        width: 99%;
        background-color: #eee;
    }

    .portfolio--page::before {
        right: 15px;
        top: 0;
        transform: rotate(-1deg);
        z-index: -1;
    }

    .portfolio--page::after {
        top: 5px;
        right: -5px;
        transform: rotate(1deg);
        z-index: -2;
    }

  

/* Projects list */
.portfolio--page__projects {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;

    margin-top: 50px;
}
    .project {
        box-sizing: border-box;
        background-color: #fff;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;    
        margin: 15px;
        text-decoration: none;
        color: inherit;

        -webkit-box-shadow: 5px 5px 18px #ededed;
         box-shadow: 5px 5px 18px #ededed;
    }
        .project img {
            width: 330px;
            height: 200px;
        }
        .project:hover {
            -webkit-box-shadow: 2px 2px 18px rgb(167, 157, 157);
            box-shadow: 2px 2px 18px rgb(199, 194, 194);
        }
        .project:hover > .ribon {
            opacity: 1;
            transform: translateY(0);
        }

.more-info {
    position: absolute;
    left: 10%;
    top: 100%;
    opacity: 0.9;
}

.ribon {
    position: relative;
    background: transparent;
    transform: translateY(-10px);
    opacity: 0;
    transition: all 300ms ease-in;
}
.bookmark{
    background: #b00;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b00), color-stop(100%,#900));
    background-image: -webkit-linear-gradient(top, #b00 0%, #900 100%);
    background-image: -moz-linear-gradient(top, #b00 0%, #900 100%);
    background-image: -o-linear-gradient(top, #b00 0%, #900 100%);
    background-image: -ms-linear-gradient(top, #b00 0%, #b00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b00', endColorstr='#900',GradientType=0 );
    background-image: linear-gradient(top, #b00 0%, #900 100%);
    
    height:30px;
    position:absolute;
    top:0;right:-160px;
    width:20px;
  }
  
  .bookmark:after{
      content:'';
      display:block;
      border:10px solid transparent;
      border-bottom-color:
      #eee;
      position:absolute;
      bottom:0;
    }