/************* Portfolio *************/
#portfolio {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    margin: 100px 100px;
    margin-top: 200px;

    box-sizing: border-box;
}
    .portfolio--page, .portfolio--page::before, .portfolio--page::after {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 10px;

        width: 100%;
        max-width: 1200px;

        background-color: whitesmoke;
        padding-bottom: 200px;

        /* Styles to distinguish sheets from one another */
        box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
        border: 1px solid #bbb;
        
    }
    .portfolio--page {
        padding-bottom: 100px;
    }


    .portfolio--page::before,
    .portfolio--page::after {
        content: "";
        position: absolute;
        height: 95%;
        width: 99%;
        background-color: #eee;
    }

    .portfolio--page::before {
        right: 15px;
        top: 0;
        transform: rotate(-1deg);
        z-index: -1;
    }

    .portfolio--page::after {
        top: 5px;
        right: -5px;
        transform: rotate(1deg);
        z-index: -2;
    }

  

/* Projects list */
.portfolio--page__projects {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;

    margin-top: 50px;
}
    .project {
        box-sizing: border-box;
        background-color: #fff;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;    
        margin: 15px;
        text-decoration: none;
        border: 2px solid #ccc;
        color: inherit;
        width:350px;

        position: relative;
        cursor: pointer;

        -webkit-box-shadow: 5px 5px 18px #ededed;
         box-shadow: 5px 5px 18px #ededed;
    }
        .project img {
            width: 100%;
            height: 200px;
        }
        .project:hover {
            -webkit-box-shadow: 4px 4px 10px rgb(167, 157, 157);
            box-shadow: 4px 4px 10px rgb(199, 194, 194);
        }

        .project p {
            margin:2px;

            margin-left: 15%;
            margin-bottom: 0;
            color: #666;
            padding-top: 10px;
            padding-bottom: 10px;
         
        }
        .project h3 {
            font-family: 'Palanquin', sans-serif;
            font-size: 1.7rem;
            color: darkcyan;
            margin-left: 10%;
            margin-bottom: 10px;
            margin-top:15px;
            
        }
        .project h3.f-1 {
            margin-bottom:0px;
            margin-top: 0;
            padding-top: 0;
            color: #333;
        }
        .project p:last-child {
            padding-bottom:30px;
        }

.more-info {
    position: absolute;
    left: 10%;
    top: 100%;
    opacity: 0.9;
}


.wip-filter {
    filter: brightness(0.5);
    position: relative;

}
.fa-tools {
    position: absolute;
    color: #fff;
    font-size: 3rem;
    right: 43%;
    top: 70px;
}



/******* Media queries ********/
@media screen and (max-width: 650px){
    #portfolio, #projects {
        margin: 0;
        width: 100%;
    }
    .portfolio--page::after, .portfolio--page::before {
        display: none;
    }
    .project img{
        height: 150px;
    }
    .portfolio--page {
        padding-bottom: 100px;
    }
    .more-info {
        transform: scale(0.80);
        top:99%;
        left: 0%;
    }
}