#skillset {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    margin: 100px 100px;
    margin-top: 250px;

    box-sizing: border-box;
}
    .skills--page, .skills--page::before, .skills--page::after {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 10px;

        width: 100%;
        max-width: 1200px;

        background-color: whitesmoke;
        padding-bottom: 200px;

        /* Styles to distinguish sheets from one another */
        box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
        border: 1px solid #bbb;
    }
    .skills--page{
        padding-bottom: 100px;
    }
    .skills--page::before,
    .skills--page::after {
        content: "";
        position: absolute;
        height: 95%;
        width: 99%;
        background-color: #eee;
    }

    .skills--page::before {
        right: 15px;
        top: 0;
        transform: rotate(-1deg);
        z-index: -1;
    }

    .skills--page::after {
        top: 5px;
        right: -5px;
        transform: rotate(1deg);
        z-index: -2;
    }

.skills-table {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
}   
    .skills-table ul {
        background-color: #fff;
        border-radius: 10px;
        width: 25%;

        padding:0;
        margin-top: 50px;
        text-align: center;
        border: 1px solid #eee;
        box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
    }
    .skills-table ul p{
        color: #333;
        font-size: 1.7rem;
    }
    /* Specific styles for the front-end table */
    .skills-table .front {
        box-shadow: 6px 6px 6px rgba(0,0,0,0.1);
    }
    .skills-table .front-title{
        background: linear-gradient(-136deg, #F15D4A 2%, #E934F2 70%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .skills-table li {
        font-size: 1.1rem;
        list-style: none;
        margin:0;
        padding:10px 0;
    }
    .skills-table li:nth-child(even){
        background-color: #f8f8f8;
    }

/******* Media queries ********/
@media screen and (max-width: 840px){
    .skills-table {
        flex-flow: column wrap;
    }
    .skills-table ul {
        align-self: center;
        justify-self: center;
        width: 80%;
    }
}
@media screen and (max-width: 650px){
    #skillset {
        margin-bottom: 50px;
        margin: 0;
        width: 100%;
    }
    .skills--page::after, .skills--page::before {
        display: none;
    }
    .skills--page{
        padding-bottom: 50px;
    }
    .skills-table {
        flex-flow: column wrap;
    }
    .skills-table ul {
        align-self: center;
        justify-self: center;
        width: 80%;
    }

}